body{
  font-family: "Roboto", sans-serif;
  background-color: #685454;
}
h1{
  color: #732255;
  text-shadow: 0 0 0.2em rgb(231, 242, 228), 0 0 0.2em rgb(231, 242, 228), 0 0 0.2em rgb(231, 242, 228);
}
p{
  color: #685454;
}
h3{
  color: #732255;
  font-style: italic;
  text-transform: uppercase;
}
h2{
  color: #732255;
  font-size: x-large;
  text-shadow: 0 0 0.2em rgb(231, 242, 228), 0 0 0.2em rgb(231, 242, 228), 0 0 0.2em rgb(231, 242, 228);
}
.main-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
  background-color: rgb(178, 198, 213);
  border-radius: 30px;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
}
.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px;
  margin: 8px;
  border-radius: 30px;
  background: linear-gradient(240deg, rgb(178, 198, 213) 20%, rgb(231, 242, 228) 60%, rgba(115, 34, 85) 80%, rgb(178, 198, 213) 90%);
}
.par{
  margin: 8px;
}
.picDown{
  border-radius: 30%;
  margin-bottom: 20px;
}
button{
  background-color: transparent;
  padding: 12px;
  margin: 2px;
  border: #732255 2px solid;
  border-radius: 50px;
  color: #732255;
  text-transform: uppercase;
  font-weight: bold;
}
button:hover{
  background-color: #732255;
  color: #E7F2E4;
}
